body 
{
  background-color: linen;
}
h1 
{
  color: maroon;
} 

h2 
{
  color: palevioletred;
} 
@media (max-width:800px) 
{
  h1 
{
  color: rgb(0, 19, 128);
  font-size: 120%;

}
h2 
{
  color: rgb(12, 225, 240);
  font-size: 120%;
}
  
}


p
{
  margin: 15px;
}
